# Cấu hình cổng chạy ứng dụng (HTTP Server Port)
PORT=8081

# Cấu hình kết nối MongoDB
MONGO_URI=mongodb://admin:adminpassword@mongodb:27017/social_network?authSource=admin
MONGO_DB_NAME=social_network

# Cấu hình kết nối Redis
REDIS_URI=redis:6379
REDIS_PASSWORD=

# Cấu hình bảo mật JWT
JWT_SECRET=super_secret_access_token_key_123456
JWT_REFRESH_SECRET=super_secret_refresh_token_key_654321

# Cấu hình kết nối Kafka
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC_POST_CREATED=post-created

# Cấu hình nghiệp vụ Feed
CELEBRITY_THRESHOLD=10000
WORKER_POOL_SIZE=10

# Cấu hình Chat & Messaging
KAFKA_TOPIC_CHAT_INCOMING=chat-incoming
CONSUMER_GROUP_ID=chat-engine-group

# Cấu hình OpenTelemetry & Tracing
OTEL_ENABLED=true
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
OTEL_METRICS_ENABLED=true




