# Cấu hình cổng chạy ứng dụng (HTTP Server Port)
PORT=8081

# Cấu hình kết nối MongoDB
MONGO_URI=mongodb://admin:adminpassword@mongodb:27017/social_network?authSource=admin
MONGO_DB_NAME=social_network

# Cấu hình kết nối Redis
REDIS_URI=redis:6379
REDIS_PASSWORD=

# Cấu hình bảo mật JWT
JWT_SECRET=super_secret_access_token_key_123456
JWT_REFRESH_SECRET=super_secret_refresh_token_key_654321
